# IDEs and Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Backend (Maven/Spring Boot)
BlogApp/target/
BlogApp/.mvn/wrapper/maven-wrapper.jar
!**/BlogApp/src/main/**/target/
!**/BlogApp/src/test/**/target/
BlogApp/src/main/resources/application.yaml

# Frontend (Node/React/Vanilla JS)
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.env
